#!/usr/bin/expect

set timeout -1

spawn docker run -v {{ ovpn_data }}:/etc/openvpn --log-driver=none --rm -it kylemanna/openvpn ovpn_initpki

expect "Enter New CA Key Passphrase:"
send -- "{{ ovpn_passphrase }}\r"

expect "Re-Enter New CA Key Passphrase:"
send -- "{{ ovpn_passphrase }}\r"

expect "Common Name (eg: your user, host, or server name) \\\[Easy-RSA CA\\\]:"
send -- "\r"

expect "Enter pass phrase for /etc/openvpn/pki/private/ca.key:"
send -- "{{ ovpn_passphrase }}\r"

expect "Enter pass phrase for /etc/openvpn/pki/private/ca.key:"
send -- "{{ ovpn_passphrase }}\r"

expect eof